/* Navbar */
/* MOBILE */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 100;
    padding: 0 15px;
}

.navbar--hidden {
    transform: translateY(-100%);
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-around;
        padding: 0;
    }
}

@media (min-width: 1024px) {
    /* Any additional desktop-specific styles */
}

/* Logo */
/* MOBILE */
.navbar__logo {
    height: 98%;
    margin: auto 0;
    display: block;
    align-self: center;
}

.navbar__logo-img {
    height: 100%;
    cursor: pointer;
}

.navbar__logo-img:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    /* TABLET */
}

@media (min-width: 1024px) {
    /* DESKTOP */
}

/* Navlist */
/* MOBILE */
.navbar__navlist {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background-color: black;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 4;
    text-align: center;
    margin-top: clamp(80px, 15vh, 160px);
}

.navbar__navlist.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.navbar__navlist li {
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    width: 80%;
    margin: 0 auto;
    padding: 5vh 0;
    flex-grow: 1;
}

.navbar__navlist li:last-child {
    border-bottom: none;
}

.navbar__link {
    position: relative;
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 200;
    font-size: var(--font-size-subheading-1);
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.navbar__link--underline {
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-secondary);
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.navbar__link:hover {
    color: var(--color-accent);
}

.navbar__link:hover .navbar__link--underline {
    width: 100%;
    background-color: var(--color-accent);
}

.navbar__link:active .navbar__link--underline {
    transition: width 0.1s ease-in-out;
    width: 50%;
}

@media (min-width: 768px) {
    /* TABLET */
}

@media (min-width: 1024px) {
    /* DESKTOP */
}

/* Hamburger Menu - Mobile (Default) */
.navbar__toggle {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 60px;
    height: 60px;
    z-index: 10;
    position: relative;
    align-items: center;
    justify-content: center;
}

.navbar__hamburger,
.navbar__hamburger::before,
.navbar__hamburger::after {
    content: '';
    display: block;
    background: var(--color-secondary);
    height: 3px;
    width: 30px;
    transition: all 0.3s ease-in-out;
}

.navbar__hamburger::before {
    transform: translateY(-10px);
}

.navbar__hamburger::after {
    transform: translateY(7px);
}

/* X animation when menu is open */
.navbar__toggle.active .navbar__hamburger {
    background: transparent;
}

.navbar__toggle.active .navbar__hamburger::before {
    transform: rotate(45deg);
}

.navbar__toggle.active .navbar__hamburger::after {
    transform: rotate(-45deg) translateY(-3px) translateX(3px);
}

@media (min-width: 768px) {
    /* TABLET */
    .navbar__toggle {
        display: none;
    }
    
    .navbar__navlist {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: clamp(180px, 60vw, 800px);
        height: 100%;
        transform: none;
        opacity: 1;
        visibility: visible;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .navbar__navlist li {
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        width: 80%;
        margin: 0 auto;
        padding: 5vh 0;
        flex-grow: 1;
    }
    
    .navbar__navlist li {
        padding: 0;
        border-top: none;
        border-bottom: none;
        width: auto;
        margin: 0;
        padding: 0 0;
    }
    
    .navbar__link {
        font-size: var(--font-size-subheading-2);
        font-weight: var(--font-weight-300);
    }
}

@media (min-width: 1024px) {
    /* DESKTOP */
}

/* Tablet styles */
@media (min-width: 769px) {
    .navbar {
        justify-content: space-around;
        padding: 0;
    }
    
    /* .navbar__logo {
        display: flex;
        justify-content: center;
    } */
    
    .navbar__toggle {
        display: none;
    }
    
    .navbar__navlist {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: clamp(180px, 60vw, 800px);
        height: 100%;
        transform: none;
        opacity: 1;
        visibility: visible;
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .navbar__navlist li {
        position: relative;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        width: 80%;
        margin: 0 auto;
        padding: 5vh 0;
        flex-grow: 1;
    }
    
    .navbar__navlist li {
        padding: 0;
        border-top: none;
        border-bottom: none;
        width: auto;
        margin: 0;
        padding: 0 0;
    }
    
    .navbar__link {
        font-size: var(--font-size-subheading-2);
        font-weight: var(--font-weight-300);
    }
}

/* Desktop styles */
@media (min-width: 1024px) {
    /* Any additional desktop-specific styles */
}