/* ------------------------------------------------------------ */
/* Custom Properties */
/* ------------------------------------------------------------ */

:root {
    /* Navbar Height (offset) */
    --navbar-height: clamp(80px, 11vh, 120px);

    /* Fonts */
    --font-family-1: 'Nunito Sans', sans-serif, arial;
    --font-family-2: 'Raleway', sans-serif, arial;
    --font-weight-thin: 200;
    --font-weight-300: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-color-white: #eee;
    --font-color-grey-1: #ccc;
    --font-color-grey-2: #333;
    --font-color-black: #111;

    --font-size-heading: clamp(2.4rem, 5vw, 3rem);
    --font-size-subheading-1: clamp(1.25rem, 4vw, 1.8rem);
    --font-size-subheading-2: clamp(1.125rem, 3vw, 1.5rem);
    --font-size-body: clamp(1rem, 2.2vw, 1.25rem);
    --font-size-small: clamp(0.96rem, 2vw, 1.18rem);
    --font-size-tiny: clamp(0.6rem, 1.8vw, 1rem);

    /* Colors */
    --color-1: rgba(0, 0, 0, 0);
    --color-2: rgba(56, 56, 56, 1);
    --color-3: rgba(120, 120, 120, 1);
    --color-4: rgba(204, 204, 204, 1);
    --color-5: rgba(255, 255, 255, 1);
    --color-6: rgba(11, 11, 39, 1);
    --color-accent: rgba(113, 186, 197, 1);
    --color-accent2: rgb(131, 185, 194, 1);
    --color-success: rgba(11, 131, 0, 1);
    --color-warning: rgba(255, 193, 7, 1);
    --color-disabled: rgba(153, 153, 153, 1);


    /* Stylings */
    --border-radius: 30px;
    --border-radius-1: 20px;
    --border-radius-2: 10px;

    /* Breakpoints */
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1024px;
    --breakpoint-desktop-wide: 1440px;
}

/* ------------------------------------------------------------ */
/* Fonts */
/* ------------------------------------------------------------ */




/* ------------------------------------------------------------ */
/* Reset html globals */
/* ------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
}

body, ul, li, a, p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;

    /* may be unecessary */
    /* scroll-padding-bottom: var(--navbar-height); */
}